@keyframes spin
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes pulsate
{
    0%,
    100%
    {
        opacity: .25;
    }
    50%
    {
        opacity: .5;
    }
}

.pulsate
{
    animation: pulsate 10s ease-out infinite;
}

body
{
    font-weight: 300;

    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 300;

    color: white;
}

.machete-stage
{
    font-family: sans-serif;

    width: 100vw;
    height: 100vh;

    color: white;
    background: black;
}

.background
{
    width: 110vw;
    height: 110vh;
    margin-top: -5vh;
    margin-left: -5vw;
}

.tile
{
    display: inline-block;

    width: 10vw;
    height: 10vw;
    margin: 10px;

    opacity: .25;
}

.blue.tile
{
    background-color: #0ff;
    box-shadow: 0 0 20px #0ff;
}

.loader
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 120px;
    height: 120px;
    margin-top: -50px;
    margin-left: -50px;

    animation: spin 2s linear infinite;

    border: 16px solid transparent;
    border-top: 16px solid red;
    border-bottom: 16px solid orange;
    border-radius: 50%;
}

#player
{
    position: absolute;

    background-color: red;
}

#play
{
    font-size: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 300px;
    height: 80px;
    margin-top: -40px;
    margin-left: -150px;
    padding: 20px;

    border: none;
    background-color: #0ff;
    box-shadow: 0 0 20px black;
}

#play:active
{
    box-shadow: none;
}

#main-menu > h1
{
    font-size: 4rem;
    line-height: 4rem;

    width: 100vw;
    height: 4rem;

    text-align: center;
}

#level1 > .background > h3
{
    font-size: 2rem;
    line-height: 2rem;

    width: 100vw;
    height: 4rem;
    margin-top: 10rem;

    text-align: center;
}

#ground,
#wall-left,
#wall-right,
#ceiling
{
    position: absolute;

    outline: 1px dashed red;
    background: rgba(255, 0, 0, .5);
}

#ground
{
    bottom: 0;
    left: 0;

    width: 100vw;
    height: 50px;
}

#wall-left
{
    bottom: 0;
    left: 0;

    width: 50px;
    height: 100vh;
}

#wall-right
{
    right: 0;
    bottom: 0;

    width: 50px;
    height: 100vh;
}

#ceiling
{
    top: 0;
    left: 0;

    width: 100vw;
    height: 50px;
}
