.machete-stage
{
    position: relative;

    margin: -8px;
}

.background
{
    position: absolute;
    z-index: -999;
    top: 0;
    left: 0;

    width: inherit;
    height: inherit;
}

.fps-wrapper
{
    font-size: 1.5rem;

    position: fixed;

    width: 200px;
    height: 20px;

    color: yellow;
}
